/* COLOR PALLETE
#E8E6DC -  Platinum
#242423 - Raisin Black
#84ACCE - Light Cobalt Blue
#FFFFFF - White

*/


/* GLOBAL STYLES*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #84ACCE;
    cursor: pointer;
}


h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
    margin-top:0;
}

.wrap{
    max-width: 950px;   
    margin: 0 auto;
    padding: 30px;
    overflow: auto;
}

.col-narrow{
    width: 30%;
    float: left; 
}

.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 179px;
}
/* HEADER AND FOOTER*/

header, footer{
    background: #242423;
    color: white;
}

/* header */
.profileImg{
    border-radius: 50%;   
}

.verticalAlign{
    padding-top:10%;
}

header h1, header h2{
    margin:0;
}

/* footer */
footer{
    text-align: center;
}

.info a{
    padding: 10px;
    display: inline-block;
}

/* BODY */



/* WORK EXPERIENCE*/

.work{
    background: #E8E6DC;
}



/* EDUCATION*/

.education{
    background: #84ACCE;
}